
# تجاهل ملف المفاتيح السرية (أهم سطر!)
.env

# تجاهل قواعد البيانات المحلية
*.db

# تجاهل مجلدات بايثون المؤقتة
__pycache__/
*.pyc

# تجاهل ملفات النظام المزعجة
.DS_Store
Thumbs.db

# السماح بملف المتطلبات فقط من بين ملفات الـ txt
*.txt
!requirements.txt
